<div class="header"><h2>Softverski sistem za predaju naučnih radova</h2></div>
<br>
<div><h3>Spisak institucija</h3></div>
<br>

<div *ngIf="institucije.length>0" class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    <tr>
                        <th>Naziv</th>
                        <th>Šifra</th>
                        <th>Grad</th>
                        <th>Adresa</th>
                        <th>Naziv engleski</th>
                        <th>Naziv skraćeni</th>
                        <th>Ovlašćeno lice</th>
                        <th>Telefon</th>
                        <th *ngIf='user.lozinka==="admin246"'>Izmeni</th>
                        <th *ngIf='user.lozinka==="admin246"'>Obriši</th>
                    </tr>
                    <tr *ngFor="let institucija of institucije">
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.nazivInstSrp}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.sifraInstitucije}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.gradInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.adresaInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.nazivInstEng}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.nazivSkrInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.ovlascenoLiceInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.telefonInst}}</td>
                        <td *ngIf='user.lozinka==="admin246" && institucija.idInstitucije>1'><button (click)="editInstitution(institucija)">Izmeniti</button></td>
                        <td *ngIf='user.lozinka==="admin246" && institucija.idInstitucije>1'><button (click)="deleteInstitution(institucija)">Obrisati</button></td>
                        <!--  Ukoliko je admin samo onda prikazi dugmad obrisi i izmeni-->
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
</div>

<hr>

<div>
    <h2> Dodaj instituciju</h2>
</div>

<div class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    <tr>
                        <td>Naziv institucije:</td>
                        <td><input type="text" name="nazivInstSrp" [(ngModel)]="nazivInstSrp"></td>
                    </tr>
                    <tr>
                        <td>Šifra institucije:</td>
                        <td><input type="text" name="sifraInstitucije" [(ngModel)]="sifraInstitucije"></td>
                    </tr>
                    <tr>
                        <td>Grad:</td>
                        <td><input type="text" name="gradInst" [(ngModel)]="gradInst"></td>
                    </tr>
                    <tr>
                        <td>Adresa:</td>
                        <td><input type="text" name="adresaInst" [(ngModel)]="adresaInst"></td>
                    </tr>
                    <tr>
                        <td>Naziv institucije engleski:</td>
                        <td><input type="text" name="nazivInstEng" [(ngModel)]="nazivInstEng"></td>
                    </tr>
                    <tr>
                        <td>Skraćeni naziv institucije:</td>
                        <td><input type="text" name="nazivSkrInst" [(ngModel)]="nazivSkrInst"></td>
                    </tr>
                    <tr>
                        <td>Ovlašćeno lice:</td>
                        <td><input type="text" name="ovlascenoLiceInst" [(ngModel)]="ovlascenoLiceInst"></td>
                    </tr>
                    <tr>
                        <td>Telefon:</td>
                        <td><input type="text" name="telefonInst" [(ngModel)]="telefonInst"></td>
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
</div>
<br>
<div>
    <button (click) = "insertInstitution()">Dodaj instituciju</button>
    <br>
    <button (click) = "goBack()">Nazad</button>
</div>
