<div class="header"><h2>Spisak institucija</h2></div>
<br>
<br>

<div *ngIf="institucije.length>0" class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    <tr>
                        <th>Naziv</th>
                        <th>Šifra</th>
                        <th>Grad</th>
                        <th>Adresa</th>
                        <th>Naziv engleski</th>
                        <th>Naziv skraćeni</th>
                        <th>Ovlašćeno lice</th>
                        <th>Telefon</th>
                        <th *ngIf='user.lozinka==="admin246"'>Izmeni</th>
                        <th *ngIf='user.lozinka==="admin246"'>Obriši</th>
                    </tr>
                    <tr *ngFor="let institucija of institucije">
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.nazivInstSrp}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.sifraInstitucije}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.gradInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.adresaInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.nazivInstEng}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.nazivSkrInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.ovlascenoLiceInst}}</td>
                        <td *ngIf='institucija.idInstitucije>1'>{{institucija.telefonInst}}</td>
                        <td *ngIf='user.lozinka==="admin246" && institucija.idInstitucije>1'><button (click)="editInstitution(institucija)">Izmeniti</button></td>
                        <td *ngIf='user.lozinka==="admin246" && institucija.idInstitucije>1'><button (click)="deleteInstitution(institucija)">Obrisati</button></td>
                        <!--  Ukoliko je admin samo onda prikazi dugmad obrisi i izmeni-->
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
</div>
<br>

<div>
    <h2> Dodaj instituciju</h2>
</div>
<div class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    <tr>
                        <td>Naziv institucije:</td>
                        <td><input type="text" name="nazivInstSrp" placeholder="Unesite naziv institucije" [(ngModel)]="nazivInstSrp"></td>
                    </tr>
                    <tr>
                        <td>Šifra institucije:</td>
                        <td><input type="text" name="sifraInstitucije" placeholder="Unesite šifru institucije" [(ngModel)]="sifraInstitucije"></td>
                    </tr>
                    <tr>
                        <td>Grad:</td>
                        <td><input type="text" name="gradInst" placeholder="Unesite grad" [(ngModel)]="gradInst"></td>
                    </tr>
                    <tr>
                        <td>Adresa:</td>
                        <td><input type="text" name="adresaInst" placeholder="Unesite adresu" [(ngModel)]="adresaInst"></td>
                    </tr>
                    <tr>
                        <td>Naziv institucije engleski:</td>
                        <td><input type="text" name="nazivInstEng" placeholder="Unesite naziv institucije engleski" [(ngModel)]="nazivInstEng"></td>
                    </tr>
                    <tr>
                        <td>Skraćeni naziv institucije:</td>
                        <td><input type="text" name="nazivSkrInst" placeholder="Unesite skraćeni naziv institucije" [(ngModel)]="nazivSkrInst"></td>
                    </tr>
                    <tr>
                        <td>Ovlašćeno lice:</td>
                        <td><input type="text" name="ovlascenoLiceInst" placeholder="Unesite ovlašćeno lice" [(ngModel)]="ovlascenoLiceInst"></td>
                    </tr>
                    <tr>
                        <td>Telefon:</td>
                        <td><input type="text" name="telefonInst" placeholder="Unesite telefon: 06x/xxxx-xxx" [(ngModel)]="telefonInst"></td>
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
</div>
<div>

    <div *ngIf="msg1">
        <button class = "msgsuccess">Institucija je dodata</button>
    </div>
    <div *ngIf="msg3">
        <button class = "msgerror">Niste uneli naziv institucije</button>
    </div>
    <div *ngIf="msg4">
        <button class = "msgerror">Unesite početno veliko slovo za naziv institucije</button>
    </div>
    <div *ngIf="msg5">
        <button class = "msgerror">Niste uneli šifru institucije</button>
    </div>
    <div *ngIf="msg6">
        <button class = "msgerror">Šifra instutucije sastoji se od brojeva i velikih slova</button>
    </div>
    <div *ngIf="msg7">
        <button class = "msgerror">Niste uneli grad</button>
    </div>
    <div *ngIf="msg8">
        <button class = "msgerror">Unesite veliko početno slovo za grad</button>
    </div>
    <div *ngIf="msg9">
        <button class = "msgerror">Niste uneli adresu</button>
    </div>
    <div *ngIf="msg10">
        <button class = "msgerror">Unesite veliko početno slovo za adresu i broj objekta</button>
    </div>
    <div *ngIf="msg11">
        <button class = "msgerror">Niste uneli naziv institucije na engleskom</button>
    </div>
    <div *ngIf="msg12">
        <button class = "msgerror">Unesite veliko početno slovo za naziv institucije na engleskom</button>
    </div>
    <div *ngIf="msg13">
        <button class = "msgerror">Niste uneli skraćeni naziv institucije</button>
    </div>
    <div *ngIf="msg14">
        <button class = "msgerror">Skraćeni naziv institucije upišite velikim slovima</button>
    </div>
    <div *ngIf="msg15">
        <button class = "msgerror">Niste uneli ovlašćeno lice</button>
    </div>
    <div *ngIf="msg16">
        <button class = "msgerror">Unesite velika početna slovo za ovlašćeno lice</button>
    </div>
    <div *ngIf="msg17">
        <button class = "msgerror">Unesite telefon u sledećem formatu: 06x/xxxx-xxx</button>
    </div>
    <div *ngIf="msgblank" style = "height: 50px;"></div>
    <div *ngIf="msg2">
        <button class = "msgerror">Greška - institucija nije dodata</button>
    </div>

    <button *ngIf="showbtnizmena" (click) = "insertInstitution()">Dodaj instituciju</button>
    <br>
    <button (click) = "goBack()">Nazad</button>
</div>
