<div>
    <h2>Izmena institucije: {{institution.nazivInstSrp}}</h2>
    <hr>
    Naziv: <input type="text" name="nazivInstSrp" [(ngModel)]="institution.nazivInstSrp">
    <br>
    Šifra: <input type="text" name="sifraInstitucije" [(ngModel)]="institution.sifraInstitucije">
    <br>
    Naziv na engleskom: <input type="text" name="nazivInstEng" [(ngModel)]="institution.nazivInstEng">
    <br>
    Skraćeni naziv: <input type="text" name="nazivSkrInst" [(ngModel)]="institution.nazivSkrInst">
    <br>
    Grad: <input type="text" name="gradInst" [(ngModel)]="institution.gradInst">
    <br>
    Adresa: <input type="text" name="adresaInst" [(ngModel)]="institution.adresaInst">
    <br>
    Ovlašćeno lice: <input type="text" name="ovlascenoLiceInst" [(ngModel)]="institution.ovlascenoLiceInst">
    <br>
    Telefon: <input type="text" name="telefonInst" [(ngModel)]="institution.telefonInst">
    <br>
   
    <button (click)="editInstitution()">Izmena</button>
    <button (click)="goBack()">Nazad</button>
</div>

