<div class="header"><h2>Podaci o korisniku</h2></div>
<br>
<br>

<div *ngIf="rukovodioci.length>0" class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped table-hover table-sm">
                <tbody>

                    <tr>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Datum rodjenja</th>
                        <th>mail</th>
                        <th>Telefon</th>
                        <th >Izmeni</th>               
                    </tr>

                    <tr *ngFor="let rukovodioc of rukovodioci">
                        <td *ngIf="user.idRukovodioca==rukovodioc.idRukovodioca">{{rukovodioc.ime}}</td>
                        <td *ngIf="user.idRukovodioca==rukovodioc.idRukovodioca">{{rukovodioc.prezime}}</td>
                        <td *ngIf="user.idRukovodioca==rukovodioc.idRukovodioca">{{rukovodioc.datumRodjenja}}</td>
                        <td *ngIf="user.idRukovodioca==rukovodioc.idRukovodioca">{{rukovodioc.mailRukovodioca}}</td>
                        <td *ngIf="user.idRukovodioca==rukovodioc.idRukovodioca">{{rukovodioc.telefon}}</td>
                        <td *ngIf="user.idRukovodioca==rukovodioc.idRukovodioca"><button (click)="editUser(rukovodioc)">Izmeniti</button></td>         
                    </tr>

                </tbody>
            </table>
            <br>
            <div class = "note">
                <p>Ovo su podaci rukovodioca koji se mogu menjati u sistemu.</p> 
                <p>Za promenu ostalih podataka (username, lozinka i institucija) morate se registrovati kao nov korisnik.</p>
            </div>

         </div>
    </div>
</div>
<br>


<div>
        <button (click) = "goBack()">Nazad</button>
</div>
