.row{
    margin-top: 70px;
    margin-bottom: 50px;
    padding-top: 150px;
    padding-bottom: 90px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
}

input{
    width: 320px;
    height: 28px;
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
}

button{
    width: 200px;
}