.header{
    margin-bottom: 20px;
}

.row{
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top:38px;
    padding-bottom: 20px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
    transition: transform 1s;
}

.row:hover {
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
}
  

input{
    width: 90%;
    height: 28px;
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    color: rgb(115, 115, 115);
    position: relative;
}

button{
    width: 200px;
}

.forma{
    width: 20%;
    margin-bottom: 40px;
    margin-right: 30px;
    padding-top:28px;
    padding-top: 30px;
    padding-bottom: 45px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
    transition: transform 1s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic; 
    text-align: center;
    font-size: 15.5px;

}
    
    
.forma:hover {
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
    font-weight: bold;
}
        
