<div class="header"><h2>Softverski sistem za predaju naučnih radova</h2></div>
<br>
<div><h3>Prijava</h3></div>
<br>
<div class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    <tr *ngIf="!loggedIn">
                        <td>Korisničko ime:</td>
                        <td><input type="text" name="username" placeholder="Unesite korisničko ime" [(ngModel)]="username" required></td>
                    </tr>
                    <tr *ngIf="!loggedIn">
                        <td>Lozinka:</td>
                        <td><input type="password" name="lozinka" placeholder="Unesite lozinku" [(ngModel)]="lozinka" required></td>
                    </tr>
                    
                        <tr *ngIf="!codeSent && loggedIn">
                            <td>Broj telefona:</td>
                                <td><input [(ngModel)]="phoneNumber" placeholder="+3816xxxxxxxx" ><br></td>
                        </tr>
                        <tr *ngIf="!codeSent && loggedIn"><td colspan="2">
                            <button (click)="sendCode()">Posalji kod</button>
                        </td></tr>
                        <tr *ngIf="codeSent">
                        <td><input [(ngModel)]="code" placeholder="Verifikacioni kod"><br></td>
                            <td><button (click)="verifyCode()">Potvrdi</button></td>
                        </tr>
                </tbody>
            </table>
         </div>
    </div>
</div>

<br>
<div>
    <button *ngIf="!loggedIn" (click)="login()">Prijava</button>
    <br>
    <button *ngIf="!loggedIn" (click)="goToRegister()">Registracija</button>
    <br>
    <button *ngIf="!loggedIn" (click)="goToLostPasword()">Zaboravio sam lozinku</button>
</div>






