<div class="header"><h2>Softverski sistem za predaju naučnih radova</h2></div>
<br><br>
<div><h3>Prijava</h3></div>
<br><br>
<div class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    <tr>
                        <td>Korisničko ime:</td>
                        <td><input type="text" name="username" placeholder="Unesite korisnicko ime" [(ngModel)]="username"></td>
                    </tr>
                    <tr>
                        <td>Lozinka:</td>
                        <td><input type="password" name="lozinka" placeholder="Unesite lozinku" [(ngModel)]="lozinka"></td>
                    </tr>
                    
                </tbody>
            </table>
         </div>
    </div>
</div>

<br>
<div>
    <button (click)="login()">Prijava</button>
    <br>
    <button (click)="goToRegister()">Registracija</button>
    <br>
    <button (click)="goToLostPasword()">Zaboravio sam lozinku</button>
</div>






