<!--
    <div class="header"><h2>Specifikacija dodatne dokumentacije</h2></div>
<br>

<div class="container">
    <div class="row">
        <div class="column">
            <div *ngFor="let projekat of projekti">
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                        <tr>
                            <td>Podprogram</td>
                            <td>{{projekat.podprogram}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <br> 
                <button (click)="editProjekat(projekat)">Izmeniti</button>
            </div>
        </div>
    </div>
</div>
<br>

<div>
    <button (click) = "goBack()">Nazad</button>
</div>
-->

