/* You can add global styles to this file, and also import other style files */
.header{
    height: 120px;
    background-color: #112343;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 0px 0px #adadc2;
   

}

body{
    background-color: white;
    justify-content: center;
    flex-direction: column;
    background-image: url("/assets/image1V9.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    height: 1100px;
    width: 1950px;
    position: relative;

}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: rgb(141, 173, 185);
    border-color: rgb(179, 220, 235);
    border-radius: 18px;
    padding: 5px;
    width: 300px;
    box-shadow: 3px 5px 0px 0px #949989;
    margin-bottom: 15px;
}

button:hover {
    border-color: rgb(36, 150, 154);
    border-radius: 18px;
    padding: 5px;
}

.button2{
    background-color: rgb(164, 187, 156);
    border-color: rgb(179, 218, 235);
    border-radius: 18px;
    padding: 5px;
    width: 300px;
}

.button2:hover {
    border-color: rgb(102, 159, 99);
    border-radius: 18px;
    padding: 5px;
}

th{
    text-align: center;
}

.note{
    padding: 1px;
    color:rgba(37, 34, 34, 0.987);
}

   
h3{  
    color:rgba(37, 34, 34, 0.987);
}
          