/* You can add global styles to this file, and also import other style files */
.header{
    background-color: #112343;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("/assets/image1V9.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 1000px;
    width: 1950px;
    position: relative;

}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: rgb(141, 173, 185);
    border-color: rgb(179, 220, 235);
    border-radius: 18px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}


.button2{
    background-color: rgb(164, 187, 156);
    border-color: rgb(179, 218, 235);
    border-radius: 18px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
