<div class="header"><h2>Administracija</h2></div>
<br>
<br>
<div>
    <button (click)="allUsers()">Spisak rukovodioca</button>
    <br/>
    <button (click)="allProjects()">Spisak predatih radovova</button>
    <br/>
    <button (click)="search()">Pretraga predatih radovova</button>
    <br/>
    <button (click)="allOblast()">Spisak oblasti</button>
    <br/>
    <button (click)="allInstitution()">Spisak institucija</button>
    <br/>
    <button (click)="allDocumentation()">Nazivi polja za unos fajlova</button>
    <br/>
    <button (click)="logout()">Odjava</button>
    <br/>
</div>
