<div class="header"><h2>Softverski sistem za predaju naučnih radova</h2></div>
<br><br>
<div><h3>Administracija</h3></div>
<br><br>
<br>
<div>
    <button (click)="allUsers()">Spisak rukovodioca</button>
    <br/>
    <button (click)="allProjects()">Spisak radovova</button>
    <br/>
    <button (click)="allOblast()">Spisak oblasti</button>
    <br/>
    <button (click)="allInstitution()">Spisak institucija</button>
    <br/>
    <button (click)="allDocumentation()">Spisak dokumentacije</button>
    <br/>
    <button (click)="logout()">Odjava</button>
    <br/>
</div>
