<div class="header">
    <h3>Administracija sistema za predaju naucnih radova</h3>
</div>
<br>
<div>
    <button (click)="allUsers()">Spisak rukovodioca</button>
    <br/>
    <button (click)="allProjects()">Spisak radovova</button>
    <br/>
    <button (click)="allOblast()">Spisak oblasti</button>
    <br/>
    <button (click)="allInstitution()">Spisak institucija</button>
    <br/>
    <button (click)="allDocumentation()">Spisak dokumentacije</button>
    <br/>
    <button (click)="logout()">Odjava</button>
    <br/>
</div>
