.row{
    margin-top: 90px;
    margin-bottom: 80px;
    padding-top: 55px;
    padding-bottom: 40px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
}


h3{
    padding-top: 50px;
    padding-bottom: 40px;
}
