.header{
    margin-bottom: 40px;
}

.row{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top:90px;
    padding-bottom: 60px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
    transition: transform 1s;
}

.row:hover {
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
}
  

