<div class="header">
    <h2>Izmena projekta: {{projekat.nazivProjekta}}</h2>
    <h2>{{projekat.ime}} {{projekat.prezime}}, {{projekat.nazivInstSrp}}</h2>
</div>
    <br>
<div class="container">
        <div class="row">
            <div class="column">
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                        <tr>
                            <td>Datum projekta:</td>
                            <td><input type="text" name="datumProjekta" placeholder="Unesite" [(ngModel)]="projekat.datumProjekta"></td>
                        </tr>
                        <tr>
                            <td>Akronim projekta:</td>
                            <td><input type="text" name="akronimProjekta" placeholder="Unesite" [(ngModel)]="projekat.akronim"></td>
                        </tr>
                        <tr>
                            <td>Apstrakt projekta - srpski:</td>
                            <td>
                                <textarea
                                    name="apstraktSrp"
                                    
                                    maxlength="2000"
                                    rows="4"
                                    cols="51"
                                    [(ngModel)]="projekat.apstraktSrp"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Apstrakt projekta - engleski:</td>
                            <td>
                                <textarea
                                name="apstraktEng"
                                
                                maxlength="2000"
                                rows="4"
                                cols="51"
                                [(ngModel)]="projekat.apstraktEng"
                            ></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Podprogram:</td>
                            <td><input type="text" name="podprogram" [(ngModel)]="projekat.podprogram"></td>
                        </tr>

                        <tr>
                            <td>Oblasti projekta (max 5):</td>
                            <td>
                                <select name="projekatOblast1" [(ngModel)]="projekat.projekatOblast1">
                                    <option *ngFor="let oblast of oblasti" value="{{oblast.idOblasti}}">{{oblast.nazivOblasti}}</option>
                                 </select>
                            </td> 
                        </tr>
                        <tr *ngIf="projekat.projekatOblast1>1">
                            <td></td>  
                            <td>
                                <select name="projekatOblast2" [(ngModel)]="projekat.projekatOblast2">
                                    <option *ngFor="let oblast of oblasti" value="{{oblast.idOblasti}}">{{oblast.nazivOblasti}}</option>
                                 </select>
                            </td>
                        </tr>
                        <tr *ngIf="projekat.projekatOblast2>1">
                            <td></td>  
                            <td>
                                <select name="projekatOblast3" [(ngModel)]="projekat.projekatOblast3">
                                    <option *ngFor="let oblast of oblasti" value="{{oblast.idOblasti}}">{{oblast.nazivOblasti}}</option>
                                 </select>
                            </td>
                        </tr>
                        <tr *ngIf="projekat.projekatOblast3>1">
                            <td></td>  
                            <td>
                                <select name="projekatOblast4" [(ngModel)]="projekat.projekatOblast4">
                                    <option *ngFor="let oblast of oblasti" value="{{oblast.idOblasti}}">{{oblast.nazivOblasti}}</option>
                                 </select>
                            </td>
                        </tr>
                        <tr *ngIf="projekat.projekatOblast4>1">
                            <td></td>  
                            <td>
                                <select name="projekatOblast5" [(ngModel)]="projekat.projekatOblast5">
                                    <option *ngFor="let oblast of oblasti" value="{{oblast.idOblasti}}">{{oblast.nazivOblasti}}</option>
                                 </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Ukupan budžet (€):</td>
                            <td><input type="text" name="ukupanBudzet" [(ngModel)]="projekat.ukupanBudzet"></td>
                        </tr>
                        <br>
                        <tr><h5>Informacije o partnerskim institucijama</h5></tr>
                        <tr>
                            <td>Partnerske institucije (max 5):</td>
                            <td>
                                <select name="projekatInst1" [(ngModel)]="projekat.projekatInst1">
                                    <option *ngFor="let institut of institution" value="{{institut.idInstitucije}}">{{institut.nazivInstSrp}}</option>
                                 </select>
                            </td> 
                        </tr>
                        <tr *ngIf="projekat.projekatInst1>1">
                            <td></td>
                            <td>
                                <select name="projekatInst2" [(ngModel)]="projekat.projekatInst2">
                                    <option *ngFor="let institut of institution" value="{{institut.idInstitucije}}">{{institut.nazivInstSrp}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr *ngIf="projekat.projekatInst2>1">
                            <td></td>
                            <td>
                                <select name="projekatInst3" [(ngModel)]="projekat.projekatInst3">
                                    <option *ngFor="let institut of institution" value="{{institut.idInstitucije}}">{{institut.nazivInstSrp}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr *ngIf="projekat.projekatInst3>1">
                            <td></td>
                            <td>
                                <select name="projekatInst4" [(ngModel)]="projekat.projekatInst4">
                                    <option *ngFor="let institut of institution" value="{{institut.idInstitucije}}">{{institut.nazivInstSrp}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr *ngIf="projekat.projekatInst4>1">
                            <td></td>
                            <td>
                                <select name="projekatInst5" [(ngModel)]="projekat.projekatInst5">
                                    <option *ngFor="let institut of institution" value="{{institut.idInstitucije}}">{{institut.nazivInstSrp}}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
    <br>
    <div>
        <button class="button2" (click)="editOneProject()">Izmena</button>
        <br>
        <button (click)="goBack()">Nazad</button>
    </div>

