.sortBtn{
    width: 110px;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(234, 237, 236);
    font-style: oblique;
}

.sortBtn:hover {
	background-color:#f5f0dd;
}
