.row{
    margin-top: -10px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
}

input{
    width: 400px;
    height: 28px;
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    color: rgb(115, 115, 115);
}

select{
    width: 400px;
    height: 28px;
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    color: rgb(115, 115, 115);
}

textarea{
    width: 400px; 
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    color: rgb(115, 115, 115); 
}

button{
    width: 180px;
    margin-right: 20px;
    margin-left: 20px;
}