form{
    padding-top: 110px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
    transition: transform 1s;
}

form:hover {
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
}

input{
    width: 320px;
    height: 28px;
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
   
}

button{
    width: 200px;
}