<div class="header"><h2>Resetovanje loznike</h2></div>
<br><br>
<br><br>

<div>
<form (ngSubmit)="submitForm()" #resetForm="ngForm">
  <label>Email:</label>&nbsp; 
  <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required>&nbsp;
</form>
</div>
<div>

  <div>
    <div *ngIf="msg1">
        <button class = "msgsuccess">Uspešno resetovanje lozinke</button>
    </div>
    <div *ngIf="msg2">
        <button class = "msgerror">Niste popunili mejl</button>
    </div>
    <div *ngIf="msg3">
        <button class = "msgerror">Mejl nije u dobrom formatu</button>
    </div>
        <div *ngIf="msg4">
        <button class = "msgerror">Ne postoji korisnik sa tom mejl adresom</button>
    </div>

    <div *ngIf="msgblank" style = "height: 50px;"></div>

    <button *ngIf="showbtnizmena" (click)="submitForm()">Pošalji</button>
    </div>
