form{
    padding-top: 175px;
    padding-bottom: 175px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 40px;
    margin-bottom: 45px;
    border: solid 1px;
    border-radius: 18px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
    transition: transform 1s;
}

form:hover {
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
}

input{
    width: 310px;
    height: 32px;
    border: currentColor 3px;
    border-radius: 5px;
    box-shadow: 3px 5px 3px 3px #949989;
   
}

