.row{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 30px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
}

.row:hover {
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
}

.row2{
    width: 1300px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 70px;
    padding-bottom: 30px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
}

.row2:hover {
    width: 1300px;
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
}

input{
    width: 200px;
    height: 28px;
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
}

.projekat{
    padding-top: 35px;
    justify-content: center;
    flex-direction: column-reverse;
}

select{
    width: 100%;
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);    
    
}

.select:hover{
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);    
    position: absolute;
}

textarea{
    width: 35%;
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);  
    justify-content: center;
    flex-direction: column;
    position: absolute; 
}

form{
    width: 800px;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
}
   
.komentar{
    width: 68%;
    transition: transform 1s;
}

.komentar:hover{
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
  
}

button{
    width: 200px;
}
