.row{
    width: 800px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
}


.row:hover {
    background-color: rgb(192, 202, 207);
    transform: scale(1.05);
  }

input{
    width: 98px;
    height: 28px;
    border: currentColor 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
   
}


select{
  
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);    
    position: relative;
}

.select:hover{
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);    
    position: absolute;
}

textarea{
    width: 400px;
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);  
    justify-content: center;
    flex-direction: column;
    position: absolute; 
}

form{
    width: 800px;
    margin-bottom: 40px;
    padding-left: 170px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: solid 1px;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 3px #949989;
    border-color: rgb(187, 187, 176);
   
}

button{
    width: 200px;
}
