<div class="header">
  <h2>Unos portrebnih fajlova</h2>
</div>

<br>
<br>


<div class="container">
  <div class="row">
    <div class="column">
      <form>
      <div *ngFor="let polje of polja">
      <table class="table table-striped table-hover table-sm">
        <tbody>
          <tr>
            <td>{{polje.polje1}}:</td>
            <td><input type="file" #files1 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje2}}:</td>
            <td><input type="file" #files2 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje3}}:</td>
            <td><input type="file" #files3 accept=".xlsx"/></td>
          </tr>
          <tr>
            <td>{{polje.polje4}}:</td>
            <td><input type="file" #files4 accept=".xlsx"/></td>
          </tr>
          <tr>
            <td>{{polje.polje5}}:</td>
            <td><input type="file" #files5 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje6}}:</td>
            <td><input type="file" #files6 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje7}}:</td>
            <td><input type="file" #files7 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje8}}:</td>
            <td><input type="file" #files8 accept=".pdf"/></td>
          </tr>

          <tr>
            <td>{{polje.polje9}}:</td>
            <td><input type="file" #files9 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje10}}:</td>
            <td><input type="file" #files10 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje11}}:</td>
            <td><input type="file" #files11 accept=".pdf"/></td>
          </tr>
          <tr>
            <td>{{polje.polje12}}:</td>
            <td><input type="file" #files12 accept=".pdf"/></td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
      </div>
    </form>
   
    </div>
  </div>
  <div>
    <table>
      <tr>

        <td colspan="3">
          <div *ngIf="msg1">
              <button class = "msgsuccess">Uspešno upisano u bazu</button>
          </div>
          <div *ngIf="msg3">
              <button class = "msgerror">Molimo izaberite sve neophodne datoteke</button>
          </div>
          <div *ngIf="msg4">
              <button class = "msgerror">Uspešno predate datoteke</button>
          </div>
          <div *ngIf="msg5">
              <button class = "msgerror">Uspešno snimljene datoteke koje ste uneli</button>
          </div>
          <div *ngIf="msg6">
              <button class = "msgsuccess">Uspešno obrisana sva polja koja ste uneli za ovaj projekat</button>
          </div>
   
          <div *ngIf="msgblank" style = "height: 50px;"></div>
          <div *ngIf="msg2">
              <button class = "msgerror">Greška - nije upisano u bazu</button>
          </div>
        </td>
      </tr>      
    </table>
  </div>
  <div>
    <tr>
      <td><button *ngIf="showbtnizmena" (click) = "reset()">Odustani</button></td>
      <td><button *ngIf="showbtnizmena" (click) = "save()">Snimi</button></td>
      
      <td><button *ngIf="showbtnizmena" type="submit" (click)="uploadFiles()">Pošalji</button></td>
    </tr>
  </div>
  <div *ngIf="showGoBack">
    <button (click) = "goBack()">Nazad</button>
  </div>
</div>
