<div class="header"><h2>Rukovodioc {{user.ime}} {{user.prezime}}</h2></div>
<br>
<br>

<div>
    <button (click)="inputScientificPapers()">Predaja naučnog rada</button>
    <br>
    <button (click)="documentation()">Neophodna dokumentacija</button>
    <br>
    <button (click)="allProjects()">Spisak radova</button>
    <br/>
    <button (click)="Search()">Pretraga radova</button>
    <br/>
    <button (click)="editUser()">Promena ličnih podataka</button>
    <br/>
    <button (click)="logout()">Odjava</button>
    <br/>
</div>